<div class="all-content">
<div class="my-container"> 

<!-- Platters -->
    <div class="my-row">
      <div class="search-hero container">
        <div class="left">
           <h1 class="header text-success">View Platters</h1>
        </div>
        <div class="right">
          <mat-icon class="search-icon" size="40px">search</mat-icon>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
        </div>
       
       </div>
       <!-- cards -->
      <div class="all-cards container">
        <div class="each-card" *ngFor="let item of something | filter:searchText">
          <!-- card start -->
        <mat-card class="product-card">
            <img style="height: 200px;" mat-card-image src={{item.image}} alt="Photo of a Shiba Inu">
            <mat-card-content>
            <h1>{{item.name}}</h1>
            <p>{{item.description}}</p>
            <h3>R{{item.price}}</h3>
            </mat-card-content>
            <mat-card-actions>
            <button class="btn btn-success" (click)="addCart(item._id)" mat-button>Add to cart</button>
            </mat-card-actions>
        </mat-card>
          <!-- end card -->
        </div>
        <!-- end of all cards -->
      </div>
    </div>
  </div>
<!-- end of platters -->

<!-- cart -->
  <h1 class="heading center">Items In Cart</h1>
  <div class="all-cart-cards container">
    <div  class="card cart-card" *ngFor="let item of cart">
        <div class="card-body">
          <h2 class="card-title">{{item.name}}</h2>
          <h2 class="card-title">R{{item.price}}</h2>
          <div class="cart-btn">
            <span href="#" class="btn btn-primary count" (click)="minus(item._id)">-</span>
            <p class="count">{{item.count}}</p>
          <span href="#" class="btn btn-primary count" (click)="add(item._id)">+</span>
          </div>
          <button (click)="removeItem(item._id)"class="btn btn-danger">remove item</button>
        </div>
      </div>
</div>
<!-- end of cart -->

<!-- displaying the total -->
<h1>Total R{{total}}</h1>
<!-- end of total -->

<h1>This is the date picked{{datepicker}}</h1>

<!-- checkout form -->
<div class="checkout-form">
  <h1 class="text-success" style="margin-left: 20%;">Delivery Address</h1>
  <form [formGroup]='checkoutForm'>
    <div class="full-form">
      <div class="date">
        <mat-form-field class="my-input" appearance="fill">
          <mat-label>Street Address</mat-label>
          <input formControlName="streetaddress"  placeholder="Wonder Park" matInput>
        </mat-form-field>
      </div>
      <div class="date">
        <mat-form-field class="my-input" appearance="fill">
          <mat-label>City</mat-label>
          <input formControlName="city" placeholder="Pretoria" matInput>
        </mat-form-field>
      </div>
      <div class="date">
        <mat-form-field class="my-input" appearance="fill">
          <mat-label>Area</mat-label>
          <input formControlName="area" placeholder="North"  matInput>
        </mat-form-field>
      </div>
      
      <div class="date">
        <mat-form-field appearance="fill" class="example-form-field">
          <mat-label>Choose a date</mat-label>
          <input formControlName="deliveryDate" matInput [matDatepicker]="datepicker">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <div class="date">
       
          <input formControlName="deliveryTime"  placeholder="Time" form [ngxTimepicker]="picker">
          <ngx-material-timepicker #picker></ngx-material-timepicker>

      </div>
      
      <div class="date">
        <div>
          <label id="example-radio-group-label">Delivery Option</label>
        </div>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          formControlName="option">
          <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    </form>
    <div class="checkout-btn" style="margin-left: 20%;">
      <button (click)="onCheckout()" class="btn btn-success">Checkout</button>
    </div>
    
</div>