<div class="all-content">

<div class="my-container">
  
    <div class="my-row">
      <div class="search-hero container">
        <div class="left">
           <h1 class="header text-success">View Platters</h1>
        </div>
        <div class="right">
          <mat-icon class="search-icon" size="40px">search</mat-icon>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search">
        </div>
       
       </div>
      <div class="all-cards container">
        <div class="each-card" *ngFor="let item of items | filter:searchText">
          <!-- card start -->
        <mat-card class="product-card">
            <img style="height: 200px;" mat-card-image src={{item.image}} alt="Photo of a Shiba Inu">
            <mat-card-content>
            <h1>{{item.name}}</h1>
            <p>{{item.desc}}</p>
            <h3>{{item.price}}</h3>
            </mat-card-content>
            <mat-card-actions>
            <button class="btn btn-success" (click)="viewProduct(item)" mat-button>View Product</button>
            <button class="btn btn-danger" (click)="addCart(item._id)" mat-button>Add to cart</button>
            </mat-card-actions>
        </mat-card>
          <!-- end card -->
        </div>
      </div>
    </div>
  </div>
  <h1 class="heading center">Items In Cart</h1>
  <div class="all-cards container">
    <div  class="card" *ngFor="let item of cart">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <h5 class="card-title">{{item.price}}</h5>
          <div class="cart-btn">
            <a href="#" class="btn btn-primary count">-</a>
            <p class="count">{{item.count}}</p>
          <a href="#" class="btn btn-primary count">+</a>
          </div>
          
        </div>
      </div>
</div>

<h1>Total {{total}}</h1>
</div>
