<div class="about">
    <div class="left">
        <h1 class="heading">About Cyadla Food & Beverage Concepts</h1>
        <p class="desc">Cyadla Food and Beverage Concepts is a catering, bar tending and events managements business founded by Siyabonga Nkosi. Our company caters to private and governmental events. We create all types of cuisines and mainly specialise in platter making and beverage distribution.
        </p>

    </div>
    <div class="right">
        <div class="img1">
            <img src="../../../assets/images/eventplanning.jpeg" alt="">
        </div>
        <div class="img2">
            <img src="../../../assets/images/platter2.jpeg" alt="">
        </div>
        <div class="img3">
            <img src="../../../assets/images/cocktail.jpeg" alt="">
        </div>
    </div>
</div>
