<div class="about">
    <div class="left">
        <h1 class="heading">Lorem ipsum dolor sit amet consectetur.</h1>
        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit. Quos in atque, voluptas ex cum doloribus 
            eligendi nobis est. Magni, vel. Reprehenderit,
            officiis! Quaerat debitis accusantium ad velit,
            adipisci totam saepe natus magnam illum? Quaerat
            possimus asperiores delectus earum alias, 
            llo animi, quod modi saepe rerum ipsam, a 
            facere unde magnam.
        </p>

    </div>
    <div class="right">
        <div class="img1">
            <img src="../../../assets/images/eventplanning.jpeg" alt="">
        </div>
        <div class="img2">
            <img src="../../../assets/images/platter2.jpeg" alt="">
        </div>
        <div class="img3">
            <img src="../../../assets/images/cocktail.jpeg" alt="">
        </div>
    </div>
</div>
