@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.home {
    position: relative; 
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: url('../images/platter\ 1.jpeg');
    
}
.bgci{
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    opacity: 0.6;
}
.services,.heading,.shop{
    position: absolute;
    font-family: "Roboto";

}
.services{
    top: 12%;
    left: 8%;
    font-size: 32px;
}
.heading{
    top: 26%;
    left: 8%;
    width: 32%;
    font-size: 79px;
    line-height: 88px;
    -webkit-text-stroke: 1px black;
    font-family: cursive;
}

.shop{
    top: 60%;
    left: 46%;
    width: 146px;
    height: 50px;
    font-size: 21px;
    background: green;
    border-radius: 10px;
    border: 2px solid green;
    color: white;
}
