
<div class="footer">
    <hr>
    <div class="icons">
        <mat-icon><a href="#"><img src="https://img.icons8.com/material/24/000000/facebook-new.png"/></a></mat-icon>
        <mat-icon><a href="#"><img src="https://img.icons8.com/material/24/000000/twitter-squared.png"/></a></mat-icon>
        <mat-icon><a href="#"><img src="https://img.icons8.com/material/24/000000/instagram.png"/></a></mat-icon>
    </div>
    <div class="wording">
        <h3>WonderPark - Pretoria North</h3>
        <h4>067 151 3351</h4>
    </div>
</div>